@page "/"
@inject IUserService UserService
@inject IPostService PostService
@inject ICommentService ComponentsService

<Profile user="selectedUser" />
<div class="comments-posts">
    <div>
    @foreach (Posts postData in posts )
    {
        <PostDisplay posts="postData" OnShowComments="ShowCommentsForPost" user="selectedUser" />
    }

    </div>
    <div>
        <h1>Post @(selectedPost?.id > 0 ? selectedPost.id : 1 ) comments </h1>
        @foreach(Comments comment in selectedPostComments)
        {
            <CommentDisplay comments="comment" />
        }
    </div>

</div>


@code{
    private List<User> users;
    public List<Posts> posts;
    public List<Comments> comments;
    private User selectedUser;
    private Posts selectedPost;
    private List<Comments> selectedPostComments;

    protected override async Task OnInitializedAsync()
    {
        users = await UserService.GetUsersAsync();
        posts = await PostService.GetAllPosts();
        selectedPost= posts.FirstOrDefault();
        selectedPostComments = await ComponentsService.GetAllPostComments(1);
        selectedUser = users.FirstOrDefault();
         if (users != null)
        {
            foreach (var user in users)
            {
                Console.WriteLine($"User ID: {user.Id}");
                Console.WriteLine($"Name: {user.Name}");
                Console.WriteLine($"Username: {user.Username}");
                Console.WriteLine($"Email: {user.Email}");
            }
        }
    }
     private async Task ShowCommentsForPost(Posts post)
    {
        selectedPost = post;
        selectedPostComments = await ComponentsService.GetAllPostComments(post.id);
        StateHasChanged();
    }
}