<div class="comment">
    <h3>@comments.Name</h3>
    <p class="email">Email: @comments.Email</p>
    <p>@comments.Body</p>
</div>

@code{
    [Parameter]
    public Comments comments { get; set; }
}
