.post {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: .5rem;
    padding: 1rem;
    margin: 1rem 0;
    display: flex;
}

.post-image img {
    max-width: 20rem; 
    border-radius: 1rem;
}

.post-data{
    margin: 0 1rem;
}

.post h3 {
    font-size: 18px;
    margin: 0;
}

.post p {
    font-size: 16px;
    margin: 10px 0;
}

.post-meta {
    font-size: 14px;
    color: gray;
}