/* /Pages/Index.razor.rz.scp.css */
.comments-posts[b-8x757ahb7b]{
    display: flex;
}
/* /Shared/CommentDisplay.razor.rz.scp.css */
.comment[b-p5qs9dguo9] {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.comment h3[b-p5qs9dguo9] {
    color: #333;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.comment .email[b-p5qs9dguo9] {
    font-style: italic;
    color: #555;
}

.comment p[b-p5qs9dguo9] {
    margin-top: 5px;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-pd7t0wulgv] {
    position: relative;
    display: flex;
    flex-direction: column;
}
.top-nav[b-pd7t0wulgv]{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    background-color: #1da1f2;
    padding: 1rem 0;
}
.search-bar[b-pd7t0wulgv]{
    background-color: #f7f7f7;
    border-radius: 10px;
}

.twitter-search-input[b-pd7t0wulgv] {
    width: 20rem;
    padding: .7rem;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
    background-color: none;
}

.search-button[b-pd7t0wulgv] {
    background-color: #1da1f2;
    color: white;
    border: none;
    border-radius: 1.5rem;
    padding: .2rem 1.3rem;
    font-size: 1.2rem;
    cursor: pointer;
    margin-right: .8rem;
}

.search-button:hover[b-pd7t0wulgv] {
    background-color: #1991db;
}

main[b-pd7t0wulgv] {
    flex: 1;
}

.sidebar[b-pd7t0wulgv] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.search-results[b-pd7t0wulgv] {
    margin-top: 20px;
    position: absolute;
    background-color: #1991db;
    width: 23%;
}

ul[b-pd7t0wulgv] {
    list-style-type: none;
    padding: 0;
}

li[b-pd7t0wulgv] {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

li:hover[b-pd7t0wulgv] {
    background-color: #f0f0f0;
}

h3[b-pd7t0wulgv] {
    margin: 0;
    font-size: 18px;
}

p[b-pd7t0wulgv] {
    margin: 0;
    color: #333;
}

.top-row[b-pd7t0wulgv] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-pd7t0wulgv]  a, .top-row[b-pd7t0wulgv]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-pd7t0wulgv]  a:hover, .top-row[b-pd7t0wulgv]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-pd7t0wulgv]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-pd7t0wulgv] {
        display: none;
    }

    .top-row.auth[b-pd7t0wulgv] {
        justify-content: space-between;
    }

    .top-row[b-pd7t0wulgv]  a, .top-row[b-pd7t0wulgv]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-pd7t0wulgv] {
        flex-direction: row;
    }

    .sidebar[b-pd7t0wulgv] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-pd7t0wulgv] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-pd7t0wulgv]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-pd7t0wulgv] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-zm6pys5w25] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-zm6pys5w25] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-zm6pys5w25] {
    font-size: 1.1rem;
}

.oi[b-zm6pys5w25] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-zm6pys5w25] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-zm6pys5w25] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-zm6pys5w25] {
        padding-bottom: 1rem;
    }

    .nav-item[b-zm6pys5w25]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-zm6pys5w25]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-zm6pys5w25]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-zm6pys5w25] {
        display: none;
    }

    .collapse[b-zm6pys5w25] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-zm6pys5w25] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* /Shared/PostDisplay.razor.rz.scp.css */
.post[b-0y30523ujt] {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: .5rem;
    padding: 1rem;
    margin: 1rem 0;
    display: flex;
}

.post-image img[b-0y30523ujt] {
    max-width: 20rem; 
    border-radius: 1rem;
}

.post-data[b-0y30523ujt]{
    margin: 0 1rem;
}

.post h3[b-0y30523ujt] {
    font-size: 18px;
    margin: 0;
}

.post p[b-0y30523ujt] {
    font-size: 16px;
    margin: 10px 0;
}

.post-meta[b-0y30523ujt] {
    font-size: 14px;
    color: gray;
}
/* /Shared/Profile.razor.rz.scp.css */
 .profile-container[b-ng16gz9bg8] {
    align-items: center;
}

.banner img[b-ng16gz9bg8] {
    width: 100%;
    max-height: 200px; 
    object-fit: cover;
}

.profile-info[b-ng16gz9bg8] {
    display: flex;
    align-items: flex-start;
    margin-top: -80px; 
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.profile-image img[b-ng16gz9bg8] {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white; 
}

.user-details[b-ng16gz9bg8] {
    margin-left: 20px;
}

.user-details h1[b-ng16gz9bg8] {
    font-size: 24px;
    margin-bottom: 4px;
}

.user-details p[b-ng16gz9bg8] {
    font-size: 16px;
    color: gray;
}
